<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  
  
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->



  <!--
  
  <bindings>
    <netTcpBinding>
      <binding name="NetTcpBinding_IMyServiceAccount">
        <security mode="None" />
      </binding>
      <binding name="NetTcpBinding_ITransferService">
        <security mode="None" />
      </binding>
    </netTcpBinding>
  </bindings>
  <client>
    <endpoint address="net.tcp://95.84.158.128:8300/" binding="netTcpBinding"
      bindingConfiguration="NetTcpBinding_IMyServiceAccount" contract="AccountService.IMyServiceAccount"
      name="NetTcpBinding_IMyServiceAccount" />
    <endpoint address="net.tcp://95.84.158.128:8301/" binding="netTcpBinding"
      bindingConfiguration="NetTcpBinding_ITransferService" contract="MyService.ITransferService"
      name="NetTcpBinding_ITransferService" />
  </client>
  
  -->

  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMyServiceAccount">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ITransferService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_INewsService" maxReceivedMessageSize="104857600">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://95.84.158.128:8300/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMyServiceAccount" contract="AccountService.IMyServiceAccount"
        name="NetTcpBinding_IMyServiceAccount" />
      <endpoint address="net.tcp://95.84.158.128:8301/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITransferService" contract="MyService.ITransferService"
        name="NetTcpBinding_ITransferService" />
      <endpoint address="net.tcp://95.84.158.128:8302/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_INewsService" contract="NewsService.INewsService"
        name="NetTcpBinding_INewsService" />
    </client>
        
  </system.serviceModel>


  
  
  
  <runtime>


  
  
  
             <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


  
  
  
                        <dependentAssembly>


  
  
  
                                   <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />


  
  
  
                                   <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />


  
  
  
                        </dependentAssembly>


  
  
  
                        <dependentAssembly>


  
  
  
                                   <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />


  
  
  
                                   <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />


  
  
  
                        </dependentAssembly>


  
  
  
             </assemblyBinding>


  
  
  
  </runtime>
</configuration>