<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <system.serviceModel>



    <bindings>
      <netTcpBinding>
        <binding name="netTcpEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="5242880" maxBufferSize="5242880" maxConnections="15" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">

          </security>
        </binding>
      </netTcpBinding>
    </bindings>


    <client>
      <endpoint address="net.tcp://95.84.158.128:8302/" binding="netTcpBinding"
          bindingConfiguration="netTcpEndPoint" contract="MyService.ITransferService"
          name="NetTcpBinding_IServiceChat">

      </endpoint>
    </client>
    
    
  </system.serviceModel>
  
</configuration>