<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>



  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="myBindingForLargeData" maxReceivedMessageSize="5242880" maxConnections="100">
          <readerQuotas maxDepth="64" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCF_Service.MyService.AccountsService.Service.MyServiceAccount" behaviorConfiguration="mexBeh">
        <!--<endpoint name="DuplexEndPoing" binding="wsDualHttpBinding" address="" contract="WCF_Service.MyService.AccountsService.Service.ICallBack" />-->
        <endpoint bindingConfiguration="myBindingForLargeData" address="" binding="netTcpBinding" contract="WCF_Service.MyService.AccountsService.Service.IMyServiceAccount" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000" />
            <add baseAddress="net.tcp://localhost:8300" />
          </baseAddresses>          
        </host>
      </service>
    </services>
  </system.serviceModel>


  <connectionStrings>
    <add name="MyDB" connectionString="metadata=res://*/DataBase.MyDB.csdl|res://*/DataBase.MyDB.ssdl|res://*/DataBase.MyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MACHINE-K91UCAF\SQLEXPRESS;initial catalog=db_journal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>